<%= form_tag search_contacts_path, method:'get', class: "span5 for-search" do %>
 <input class="search-query" name="search_term" type="text" placeholder="Search for contacts here"></input> 
 <button id="search-button" class="btn btn-inverse" type="submit">Search</button> 
<% end %>
